.bg-teal-blue {background-color: $teal-blue !important;}

.bg-turquoise-blue {background-color: $turquoise-blue !important;}

.text-turquoise-blue {color: $turquoise-blue !important;}

.border-turquoise-blue {border: 1px solid $turquoise-blue !important;}

.text-light-grey-blue {color: $light-grey-blue !important;}

.text-small {font-size: $font-size-sm !important;}

.line-through {text-decoration: line-through !important;}

.bg-white {background-color: white !important;}
