html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section-1 {
  background-image: url("../img/luxairtours-1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  height: 90vh;
  top: -129px;
  z-index: 1;
  .btn {
    &.btn-primary {
      @include transition(0.4s);
      &:hover {
        @include transition(0.4s);
        color: $primary !important;
        background-color: white;
        border: 1px solid white;
      }
    }
    &.btn-outline-light {
      @include transition(0.4s);
      &:hover {
        @include transition(0.4s);
        color: $primary;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    height: calc(100vh + 129px);
  }
  .wave {
    position: absolute;
    left: calc(100vw/2 - 1170px/2);
    width: 540px;
    bottom: -54px;
    transform: rotate(4deg);
    @include media-breakpoint-down(lg) {
      left: calc(100vw/2 - 960px/2);
      width: 500px;
      bottom: -50px;
    }
    @include media-breakpoint-down(md) {
      left: calc(100vw/2 - 720px/2);
      width: 450px;
      bottom: -45px;
    }
  }
  .chat-bot {
    &:hover {
      text-decoration: none;
      background-color: $primary !important;
      opacity: 0.9;
    }
    position: absolute;
    right: calc(100vw/2 - 1170px/2);
    bottom: -18px;
    height: 40px;
    width: 110px;
    border-radius: 50px;
    p {
      font-size: $font-size-sm;
      color: white !important;
    }
    img {
      max-width: 30px;
    }
    @include media-breakpoint-down(lg) {
      right: calc(100vw/2 - 960px/2);
    }
    @include media-breakpoint-down(md) {
      right: calc(100vw/2 - 720px/2);
    }
    @include media-breakpoint-down(sm) {
      right: calc(100vw/2 - 540px/2);
    }
    @include media-breakpoint-down(xs) {
      right:30px;
      bottom: 30px;
    }
  }
}


.section-wave {
  position: relative;
  background-color: #f1f4fb;
  margin-top: -129px;
  padding: 160px 0 20px 0;
  @include media-breakpoint-down(md) {padding: 65px 0 20px 0;}
  .col-12 {padding: 0 10px;}
  .col-xl-6 {
    h3 {
      margin-top: 33px; //titre à la même hauteur que les cards avec icones
    }
  }
  .btn-light {margin: 100px auto 0 auto !important;}
  .wave {
    position: absolute;
    width: 100%;
    height: 150px;
    @include media-breakpoint-down(md) {
      height: 100px;
    }
  }
}

.section-last-minute {
  padding: 200px 0 130px;
  @include media-breakpoint-down(md) {padding: 120px 0 65px;}
  h2 {
    position: relative;
    &::before {
      @include media-breakpoint-down(md) {
        display: none;
      }
      content: "";
      background-image: url("../img/before-lastminute.png");
      width: 450px;
      background-size: cover;
      height: 220px;
      bottom: 0;
      left: 0;
      z-index: -1;
      position: absolute;
    }
    &::after {
      @include media-breakpoint-down(md) {
        display: none;
      }
      content: "";
      background-image: url("../img/after-lastminute.png");
      right: 56px;
      width: 400px;
      background-size: cover;
      height: 219px;
      bottom: -31px;
      z-index: -1;
      position: absolute;
    }
  }
}

.inspiring-section {
  height: 650px;
  @include media-breakpoint-down(lg) {
    height: auto;
    .row {
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      max-width: 100vw;
      margin: 0;
    }
  }
  .col-xl-6 {
    &:first-child {
      background-color: #f1f4fb;
      @include media-breakpoint-down(lg) {padding-top: 500px;}
      @include media-breakpoint-down(sm) {height: 790px;}
    }
    &:last-child {
      background-image: url("../img/luxairtours-inspiring-square.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      display: flex;
      align-items: center;
      overflow-x: hidden;
      @include media-breakpoint-down(lg) {
        background-position: center;
        height: 300px;
      }
      p {font-weight: 200;}
      img {
        max-width: 60px;
      }
    }
  }
}

.scheme-section {
  padding: 100px 0;
  @include media-breakpoint-down(sm) {
    text-align: center;
    h2 ~ p {font-size: 1.2rem !important;}
  }
  h2 ~ p {
    margin-top: 20px;
    color: $secondary !important;
    font-size: 1.6rem;
  }
}
