.yellow-navbar {
  .nav-link {
    color: white;
    font-size: $font-size-sm;
    &.phone-link {
      position: relative;
    }

    &.phone-link:before {
      color: red;
      content: "";
    }
  }
}
