



$primary: #ffb400;
$secondary: #035066;
$body-color: white;
$teal-blue: #0090b8;
$turquoise-blue: #0caebe;
$light-grey-blue: #91bcc7;
$input-btn-focus-box-shadow: none;


$font-family-sans-serif: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: "Caveat";


$font-size-base: 1.375rem;
$font-size-lg: 1.5625rem;
$font-size-sm: 0.9375rem;


$h1-font-size: 5rem;
$h2-font-size: 3rem;
$h3-font-size: 1.4rem;
